{% extends 'base.html' %}

{% block content %}
  {% for birthday in birthdays %}
  <article class="post">
    <div class="post-container">
      <div class="post-left">
        <h1>{{ birthday['title'] }}</h1>
        <div class="about">by {{ birthday['username'] }}</div>
      </div>
      <div class="post-right">
        <p class="body">{{ birthday['body'] }}</p>
      </div>
      <div class="post-right">
        <p class="date">{{ birthday['birthmonth'] }}-{{ birthday['birthday'] }}-{{ birthday['birthyear'] }}</p>
      </div>
      {% if g.user['id'] == birthday['author_id'] %}
        <div class="post-edit">
            <a class="edit-button" href="{{ url_for('bday.update', id=birthday['id']) }}">✏️</a>
        </div>
        {% endif %}
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  </article>
{% endfor %}
{% endblock %}