{% extends 'intro.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <ul class="auth-links">
      <li><input type="submit" value="Register"></li>
    </ul>
    
  </form>
{% endblock %}